## Return the latest pre-aggregated SYSTEM_HEALTH record
#set($items = $ctx.result.items)
#if($items.isEmpty())
  $util.toJson(null)
#else
  #set($item = $items[0])
  $util.toJson({
    "timestamp": $item.timestamp,
    "activeTrains": $item.trainCount,
    "feedGroups": [],
    "alertCount": 0
  })
#end
