#if($ctx.args.direction)
  #set($pk = "${ctx.args.routeId}#${ctx.args.direction}")
#else
  #set($pk = $ctx.args.routeId)
#end
{
  "version": "2017-02-28",
  "operation": "Query",
  "query": {
    "expression": "routeId = :routeId AND #ts BETWEEN :from AND :to",
    "expressionNames": {
      "#ts": "timestamp"
    },
    "expressionValues": {
      ":routeId": $util.dynamodb.toDynamoDBJson($pk),
      ":from": $util.dynamodb.toDynamoDBJson($ctx.args.from),
      ":to": $util.dynamodb.toDynamoDBJson($ctx.args.to)
    }
  },
  "scanIndexForward": true
}
