{
  "version": "2017-02-28",
  "operation": "Query",
  "query": {
    "expression": "routeId = :routeId AND #ts BETWEEN :from AND :to",
    "expressionNames": {
      "#ts": "timestamp"
    },
    "expressionValues": {
      ":routeId": $util.dynamodb.toDynamoDBJson($ctx.args.routeId),
      ":from": $util.dynamodb.toDynamoDBJson($ctx.args.from),
      ":to": $util.dynamodb.toDynamoDBJson($ctx.args.to)
    }
  },
  "scanIndexForward": true
}
